.contact-page-container {
    /* background: lightblue; */
}
.btn-with-icon {
  background: #a2ff37;
  height: fit-content;
  width: 40%;
  border-radius: 70px;
  border: none;
  display: flex;
  margin:auto;
}
.btn-circle {
  background: black;
  color: #a2ff37;
  font-size:4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0.4rem;
  border-radius: 4rem;
  
}
.btn-text {
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
  padding-top: 2.2rem;
  background-color: #a2ff37;
}

i::before {
  background: black;
}
