.nav-container{
    position: fixed;
    width: 100%;
    padding: 0.5rem;
    background: rgba(255,255,255,0.8);
    border: none;
    margin: 0.1rem;
}
.nav-tabs{  
    background-color: white;
    border:none;
    padding-right: 9rem;
    float: right;
    
}
.title{
    background: white;
    color: black;
    font-size: large;
    font-weight: bold;
    border:none;
    padding-top: 0.4rem;
    float: left;
}