.welcome-info-container {
    width:50%;
    align-items: left;
    /* background: lightblue; */
}
.hello-container {
    height:50%;
    margin-top:30%;
    text-align: left;
    /* background: lightgreen; */
}
.hello{
    font-size: 100px;
    font-weight: bolder;
}
.introduction {
    font-size: xx-large;
    font-weight: bolder;
    opacity: 0.5;

}
.detail {
    font-size: x-large;
    font-weight: bold;
    opacity: 0.5;
}

.btn {
    font-size: large;
    padding: 0.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin: 3rem;
    margin-left: 0rem;
    border-radius: 2.5rem;
}
.btn-2 {
    background: black;
    color: whit
}
